spring:
  sleuth:
    enabled: true
  application:
    name: im-message
  profiles:
    active: dev

server:
  servlet:
    context-path: /im-message

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      enabled: true